.flex-container {
  width: 1000px;
  height: 500px;
  background: rgba(55, 6, 23, 1);
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
  margin-top: 20px;
 
}   
 
/* Parents and Children */

.parent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-left: 10px;

}


.parent_1 {
  width: 450px;
  height: 130px ;
  margin-top: 20px;
  margin-left: 20px;
  
  background: rgba(244, 140, 6, 1);
  border-radius: 8px;
  display: flex;
  justify-content:flex-start;
  align-items: end;
}

.child {
  background-color: rgba(157, 2, 8, 1);
  padding: 20px;
  margin: 10px;
  width: 30px;
  height: 17px;
  border-radius: 3px;    
}

/* Parent_2 and Children */

.parent_2  {
  width: 450px;
  height:130px;   
  margin-top: 20px;
  margin-right: 20px;
  background: rgba(244, 140, 6, 1);
  border-radius: 8px;
  display: flex;
  justify-content:center; 
  align-items:stretch;    
}

.child_1 {
  background-color: rgba(157, 2, 8, 1);
  padding: 20px;
  margin: 10px;
  width: 30px;
  min-height: 60px;
  border-radius: 3px;    
}
  
/* Parent_3 and Children */

.parent_3  {
  width: 450px;
  height: 130px;
  display: flex;
  margin-left: 20px;
  padding-top: 0px;
  background: rgba(244, 140, 6, 1);
  border-radius: 8px;
  justify-content:flex-end;
  align-items: center;        
}

.child_2 {
  background-color: rgba(157, 2, 8, 1);
  padding: 20px;
  margin: 10px;
  width: 30px;
  height: 17px;
  border-radius: 3px;    
}

.child_2_2 {
  background-color: rgba(157, 2, 8, 1);
  padding: 20px;
  margin: 10px;
  width: 60px;
  height: 17px;
  border-radius: 3px;
}


/* Parent_4 and Children */ 

.parent_4 {
  width: 450px;
  height: 130px ;
  background: rgba(244, 140, 6, 1);
  border-radius: 8px;
  flex-wrap: wrap;  
  display: flex;
  flex-direction: row; 
  justify-content:space-around;    
}

.child_3 {
  background-color: rgba(157, 2, 8, 1);
  padding: 20px;
  margin: 25px;
  margin-top: 15px;
  width: 30px;
  height: 17px;
  border-radius: 3px;
  align-items: flex-start;    
}

.child_3:nth-of-type(1) {
  align-self:flex-start;
  margin-top: 10px;    
}

.child_3:nth-of-type(2) {
  align-self:flex-start;
  margin-top: 10px;   
}


.child_3:nth-of-type(3) {
  align-self:flex-end;
  margin-right: -40px;
  margin-bottom: 10px;
}


/* Parent_5 and Children */

.parent_5  {
  width: 450px;
  height: 130px;
  margin-left: 20px;
  background: rgba(244, 140, 6, 1);
  border-radius: 8px;
  flex-wrap: wrap; 
  display: flex;
  justify-content:space-between; 
  align-items: center;       
}

.child_A {
  background-color: rgba(157, 2, 8, 1);
  padding: 20px;
  margin-left: 70px;
  width: 30px;
  height: 45px;
  border-radius: 3px;
  color: aliceblue;
  white-space: nowrap;
  font-size: 10px;   
}


.child_B {
  background-color: rgba(157, 2, 8, 1);
  padding: 20px;
  margin-right: 70px;
  width: 30px;
  height:17px;
  border-radius: 3px;
  color: aliceblue; 
  white-space: nowrap;
  font-size: 10px;    
}

.child_C {
  background-color: rgba(157, 2, 8, 1);
  padding: 20px;
  margin-right: 70px;
  width: 30px;
  height: 45px;
  border-radius: 3px;
  color: aliceblue; 
  white-space: nowrap;   
}


/* Parent_6 and Children */

.parent_6  {
  width: 450px;
  height: 130px ;
  background: rgba(244, 140, 6, 1);
  border-radius: 8px;
  flex-wrap: wrap; 
  display: flex; 
  justify-content:center; 
  align-items: center;    
}  

.child_a {
  background-color: rgba(157, 2, 8, 1);
  padding: 20px;
  margin: 10px;
  width: 30px;
  height: 17px;
  border-radius: 3px;    
}

.child_b {
  background-color: rgba(157, 2, 8, 1);
  padding: 20px;
  margin: 10px;
  width: 200px;
  height: 17px;
  border-radius: 3px;
}